.Container {
  margin-top: 1rem;
  width: 100vw;
}

.Heading {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.Grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 1.5rem;
  margin-left: 5%;
}

.CartCount {
  display: flex;
  justify-content: space-between;
}
.CartCount button {
  width: 30%;
}

.CartCount span {
  width: 30%;
  border: 1px solid black;
  text-align: center;
  padding-top: 0.3rem;
}

.DropDownContainer {
  display: flex;
  margin-left: 5%;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.mainName {
  background-color: #fe5c12;
  color: white;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.groupButton {
  margin-right: 8%;
}

@media screen and (max-width: 90rem) {
  .groupButton {
    margin-right: 4%;
  }
}

@media screen and (max-width: 64rem) {
  .Grid_container {
    grid-template-columns: auto auto auto;
  }

  .groupButton {
    margin-right: 4%;
  }
}

@media screen and (max-width: 48rem) {
  .Grid_container {
    grid-template-columns: auto auto;
  }
  .groupButton {
    margin-right: 11%;
  }
}

@media screen and (max-width: 26.562rem) {
  .Grid_container {
    grid-template-columns: auto;
    margin-left: 15%;
  }
  .groupButton {
    margin-right: 5%;
  }
}

@media screen and (max-width: 320px) {
  .Grid_container {
    margin-left: 4%;
  }
  .groupButton {
    margin-right: 5%;
  }
}
