.Header {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #242424;
  color: white;
}

.CompanyLogo {
  width: 20%;
}

.btn-close {
  color: white;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}
.BottomLine {
  border-bottom: 0.062rem solid #b4b4b4;
  width: 90%;
  margin-left: 5%;
}
.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
}
.offcanvas-backdrop {
  background-color: transparent;
}
.offcanvas {
  background-color: #242424;
  color: white;
}
.Quatation_list {
  list-style: none;
  font-weight: 100;
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.Quatation_list li {
  margin-top: 1rem;
  color: #b4b4b4;
  margin-left: -1.6rem;
}

.Quatation_list li:hover {
  color: #e8e8e8;
  cursor: pointer;
}

.quat_Button {
  text-decoration: none;
  color: #242424;
  background-color: white;
  padding: 1rem;
  font-weight: 100;
  border-radius: 0.6rem;
  transition: 0.3s;
}

.quat_Button:hover {
  color: white;
  background-color: #242424;
  border: 0.062rem solid white;
}

.MenuIcon {
  color: white;
  margin-top: 1rem;
}

.MenuIcon:hover {
  color: white;
}

.btn-close {
  width: 0.3rem;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSection img {
  width: 10%;
  height: 10%;
}

.logoSection p {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

@media screen and (max-width: 26.562rem) {
  .logoSection p {
    display: none;
  }
  .logoSection img {
    width: 20%;
    height: 20%;
  }
  .quat_Button {
    text-decoration: none;
    color: #242424;
    background-color: white;
    font-weight: 100;
    border-radius: 0.6rem;
    transition: 0.3s;
  }
}
